$disabled-background-color: #E4E4E4;
$disabled-color: #A2A2A2;
$primary-color: #3F4FA0;
$primary-hover-color: #394892;
$primary-active-color: #2D3872;
$accent-background-color: #ECEDF6;
$accent-background-hover-color: #D9DCEC;
$accent-background-active-color: #C5CAE3;
$warn-background-color: #FFF1F0;
$warn-background-hover-color: #FFEAE9;
$warn-background-active-color: #FFE2E0;
$warn-color: #FA6E6B;
$default-white: #ffffff;
$default-black: #000000;
