.form {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  padding-bottom: 24px;

  &-control {
    display: flex;
    flex-direction: column;
    align-items: center;

    :not(:first-child) {
      margin-top: 8px;
    }

    select {
      width: 100%;
    }
  }
}
